header nav{
	border-radius: 6px;
}

header nav ul li a:hover{
	background-color: rgba( 152, 152, 255, 0.5 );
	border-radius: 6px;
}

.sidebar{
	border: none;
	border-radius: 6px;
	background-color: rgba( 152, 152, 255, 0.5 );
}

footer div > div{
	border-radius: 6px;
	background-color: rgba( 152, 152, 255, 0.5 );
}
